#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=ifit %f
Name=iFit
Comment=iFit stand-alone. Drag-n-drop me.
Icon=iFit-logo.png
# logo obtained with font URW Palladio L, italic, bold, blue
