#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=ifit "sqw_phonons('gui')"
Name=iFit Sqw_Phonons
Comment=Compute phonon dispersions
Icon=SqwPhonons-logo.png
Categories=Education;Applications;
Actions=Help;

[Desktop Action Help]
Name=Open iFit Sqw_Phonons Help (on-line)
Exec=xdg-open /usr/local/ifit/Docs/Models_Phonons.html
OnlyShowIn=Unity;Gnome;
